<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>javascript1</title>
</head>
<body>
<script>
  // var a={
  //   x:1
  // }
  // a=a+"";
  // console.log(a);
  //
  // console.log("abd">"abc")

  // var c=6;
  // b=function (){
  //   return c;
  // }
  // console.log(c&&b())

  // (function  f(x,y){
  //   return (x+y)*(x+y);
  // })(256,36)>(function f(x,y)
  // {
  //   return x*x+y*y;
  // })(25,36)?console.log("(x+y)^2"):console.log("x^2+y^2")

  // var age =prompt("请输入年龄");
  // var str='今年'+age+'岁'
  // alert(str)
  // var year=prompt('请输入年份');
  // var age=2020-year;
  // alert('今年'+age+'岁');

  var num1=prompt('数值一');
  var num2=prompt('数值二');
  var result=parseFloat(num1)+parseFloat(num2);
  alert(result)




</script>
</body>
</html>
