<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>练习</title>
</head>
<body>
<form action="" >
  <label for="username"> 用户名：</label> <input type="text" name="username" value="" placeholder="请输入用户名" maxlength="6" id="username"><br>
  密码：<input type="password" name="pwd" ><br>
  性别：<input type="radio" name="sex" value="男" checked="checked" id="sex1"><label for="sex1">男 </label>
        <input type="radio" name="sex" value="女" id="sex"><label for="sex">女</label><br>
  爱好：<input type="checkbox" name="hobby" value="吃饭">吃饭 <input type="checkbox" name="hobby" value="睡觉 ">睡觉 <input type="checkbox" name="hobby" value="打豆豆">打豆豆
  <br>
  <input type="submit" value="免费注册">
  <input type="reset" value="重置">
  <br>
  上传头像：<input type="file">
  <br>
  分类：<select name="" id="">
      <option>山东</option>
      <option selected="selected">北京</option>
      <option>天津</option>
      </select>
  <br>
  详情：<textarea placeholder="请填写详情" cols="15" rows="5"></textarea>
</form>
<br>


<h4>青春不常在</h4>
<table width="500" >
  <tr>
    <td>性别:</td>
    <td><input type="radio" name="sex" value="男" checked="checked" id="sex2"><label for="sex2"> 男 </label>
      <input type="radio" name="sex" value="女" id="sex3"><label for="sex3"> 女</label>
    </td>
  </tr>
  <tr>
    <td>生日：</td>
    <td>
      <select name="" id="year" >
        <option>请输入年</option>
        <option>2001</option>
        <option>2002</option>
        <option>2003</option>
      </select>

      <select name="" id="month" >
        <option>请输入月</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
      </select>

      <select name="" id="day" >
        <option>请输入日</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
      </select>
    </td>
  </tr>
   <tr>
     <td>所在地区：</td>
     <td><input type="text" placeholder="北京"></td>
   </tr>
  <tr>
    <td>婚姻：</td>
    <td><input type="radio" name="merry" checked="checked"> 未婚 <input type="radio" name="merry"> 已婚 <input type="radio" name="merry"> 离婚</td>
  </tr>
  <tr>
    <td>学历：</td>
    <td><input type="text" placeholder="本科"></td>
  </tr>
  <tr>
    <td>喜欢类型：</td>
    <td> <input type="checkbox" checked="checked">可爱的 <input type="checkbox" >性感的 <input type="checkbox" >高傲的</td>
  </tr>
  <tr>
    <td>个人简介</td>
    <td><textarea placeholder="请输入个人简介"></textarea></td>
  </tr>
  <tr>
    <td></td>
    <td><input type="submit" value="免费注册"></td>
  </tr>
  <tr>
      <td></td>
      <td><input type="checkbox" checked="checked">我同意</td>
  </tr>
  <tr>
    <td></td>
    <td><a href="#">我是会员</a></td>
  </tr>
  <tr>
    <td></td>
    <td><h4>我同意</h4></td>
  </tr>
  <tr>
    <td></td>
    <td>
      <ul>
        <li>年满18岁</li>
        <li>态度严谨</li>
        <li>真诚</li>
      </ul>
    </td>
  </tr>
</table>

</body>
</html>
